<div class="box">
  <header>
    <%= link_to problem.user, class: "avatar-link" do %>
      <%= image_tag problem.user.avatar, class: "avatar" if logged_in? && problem.user.avatar? %>
    <% end %>
    <h2>
      <span class="username">
        <%= logged_in? ? link_to(problem.user.name, user_path(problem.user)) : "Anonymous" %>
      </span> asked <%= time_ago_in_words(problem.updated_at) %> ago
    </h2>
    <% if problem.user == current_user %>
      <ul class="manage-links">
        <li><%= link_to "delete", problem_path(problem), method: "delete" %></li>
      </ul>
    <% end %>
  </header>

  <% if problem.body? %>
    <p>
      <%= problem.body %>
    </p>
  <% end %>

  <%= image_tag(problem.picture, class: "attached-img") if problem.picture? %>

  <% if logged_in? %>
    <% if problem.answer? %>
      <div class="answer" onclick="this.innerHTML = '<b>Answer: </b><%= problem.answer %>'">
        <div class="hidden_answer">
          Click here to see the answer
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="restricted_answer">
      Log in to see the answer and the author
    </div>
  <% end %>
</div>
