<%= render "errors" %>
<%= form_for @user do |f| %>
  <h1>Sign up</h1>
  <%= f.text_field :name, placeholder: "Your name" %>
  <%= f.email_field :email, placeholder: "Email" %>
  <%= f.password_field :password, placeholder: "Password" %>
  <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
  <%= f.submit "Create account" %>
<% end %>
